@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@500&family=Open+Sans&family=Secular+One&family=Shadows+Into+Light&family=Yeon+Sung&display=swap");
@import "reset.css";
@import "variables.css";

body {
  font-family: "Gowun Dodum", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: 500;
}

.main-screen {
  padding: 30px 30px;
}

.best-poster-img {
  width: 200px;
  height: auto;
}

h1 {
  font-size: 28px;
  margin: 15px 0px;
  font-weight: 600;
  color: var(--title-color);
}

.main-title {
  font-size: 50px;
  margin: 15px;
  font-weight: 700;
}
